#Protect multiple files
<FilesMatch "^(Jordy|Massi|Victor|Maxime).html$">
AuthName "Dialog prompt"
AuthType Basic
AuthUserFile /var/www/html/gosecuri/.htpasswd
Require valid-user
</FilesMatch>
